// mobile



@media screen and (max-width: 1269px) {
	header {
		.left {
			.brand_logo {
				left: 10px;
			}
			ul {
				margin-left: 100px;
			}
		}
	}
	//utilities
	.container_full {
	width: 97%;
	margin-inline: auto;
	}

	main {
		.redeem {
			.carousel {
				.poster img {
					width: 150%;
				}
			}
		}
		.codes {
			.left_spacer {
				margin-inline: auto;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.carousel .slider_container .slider {
		.poster,
		.details {
			width: 30%;
		}
	}
}

// TODO capirci qualcosa con ste positions

@media screen and (max-width: 1300px) {
	.carousel .slider_container .slider {
		.poster,
		.details {
			width: 50%;
		}
	}
}

@media screen and (max-width: 767px) {
	header {
		.left {
			.brand_logo {
				left: 10px;
			}
			ul {
				margin-left: 100px;
			}
		}
		.mobile_join {
			display: block;
		}
		.nav_title {
			.current_page {
				font-size: .85rem;
				letter-spacing: 1px;
			}
		}

		nav {
			.left {
				ul {
					display: none;
				}
			}
			.right {
				.locator,
				.cta {
					display: none;
				}
				i {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
		.mobile_nav {
			.more_links {
				.close {
					display: none;
				}
			}
		}
	}
	main {
		.hero_banner {
			padding-top: 50px;
			background-position: 63% 400px;
			background-repeat: no-repeat;
			background-size: 250%;
			height: 630px;
			.content {
				height: fit-content;
				text-align: center;
				align-items: center;
				h3 {
					text-align: center;
					width: 29%;
					font-size: 1.8rem;
					font-weight: 700;
				}
				.hero_subtitle {
					font-size: 1rem;
					font-weight: 600;
					&:not(.mobile) {
						display: none;
					}
				}
				a.btn {
					display: none;
					&.mobile {
						display: block;
					}
				}
			}
		}
		.getting_started {
			padding-block: $sp-5;
			.content {
				flex-direction: column;
				.step {
					.list_number {
						margin-inline:-$sp-4;
					}
					flex-direction: row;
					margin-bottom: $sp-5;
					.card_body {
						text-align: left;
						margin-left: $sp-5;
						h5 {
							font-size: 1rem;
						}
						p {
							font-weight: 500;
						}
					}
				}
			}
		}
		.redeem {
			.select_reward {
				width: 100%;
				.rewards {
					width: 100%;
				}
			}
			.carousel {
				height: 500px;
				.slides_container {
					flex-direction: column;
					align-items: center;
					justify-content: center;
					.slide {
						flex-direction: column;
						width: 100%;
						.cover {
							width: 100%;
						}
						.details {
							max-width: 800px;
							min-width: 400px;
							margin-inline: auto;
							align-items: center;
							text-align: center;
							margin-top: $sp-6;
							p {
								margin-top: $sp-2;
								// width: 100%;
							}
						}
					}
				}
			}
		}
		.extras {
			padding-block: $sp-5;
			.section_heading {
				.section_subtitle {
					width: 100%;
					padding-inline: $sp-1;
					font-weight: 500;
				}
			}
			.content {
				flex-direction: column;
				.step {
					.list_number {
						margin-bottom: 0;
					}
					flex-direction: row;
					margin-bottom: $sp-5;
					.card_body {
						text-align: left;
						margin-left: $sp-5;
						h5 {
							font-size: 1rem;
						}
						p {
							font-weight: 500;
						}
					}
				}
			}
		}
		.earning {
			.section_subtitle {
				width: 100%;
				// padding-inline: $sp-4;
			}
			.content {
				.row {
					flex-direction: column;
					.level {
						margin-bottom: $sp-5;
						h4 {
							margin-bottom: $sp-1;
						}
					}
					.details {
						flex-direction: column;
						width: 100%;
						.det {
							flex-direction: row;
							width: 100%;
							margin-bottom: $sp-4;
							img {
								width: 15%;
								margin-right: 5%;
							}
							.body {
								width: 80%;
							}
						}
					}
				}
				
			}
		}
		.codes {
			.left_spacer {
				margin-inline: $sp-2;
			}
		}
		.terms {
			.container {
				flex-direction: column;
				.col {
					width: 100%;
					padding-inline: $sp-2;
					.earning_stars {
						.terms_p {
						font-size: .6rem;
						}
					}
				}
			}
		}
	}
	footer {
		.footer_nav {
			flex-direction: column;
			.col {
				width: 100%;
				padding-inline: $sp-4;
				overflow: hidden;
				.col_heading {
					height: 80px;
					width: 100%;
					justify-content: space-between;
					cursor: pointer;
					.icon {
						@include circleAnimation;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}

				.footer_ul {
					margin-top: 0;
					height: 0;
					position: relative;
					top: -100%;
				}
				.footer_ul.active {
					height: 250px;
					top: 0;
				}
				
			}
			.col:nth-of-type(3) .footer_ul.active {
				height: 126px;
			}
			.col:nth-of-type(4) .footer_ul.active {
				height: 150px;
			}
		}
		.web_details {
			flex-direction: column;
			.a_wrapper {
				margin-bottom: $sp-2;
				a {
					font-size: .9rem;
				}
				span {
					display: none;
				}
			}
		}
	}
	.mobile{
	display: flex;
	}
}


@media screen and (min-width: 768px) {
	header {
		.mobile_none {
			display: none;
		}
	}

	
}

//tablet