@import './vars.scss';
// spacing
	// margin
	

//visibility
.d-none {
	display: none;
}

// containers
.container_full {
	width: 70%;
	margin-inline: auto;
}

@mixin section_head {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: $sp-6;
	text-align: center;
}

.section_heading {
	@include section_head;
}

//btns

.btn {
	background-color: transparent;
	border: 1px solid $accent-dark;
	border-radius: 100px;
	font-weight: 600;
	padding: 7px $sp-3;
}

.btn.accent {
	background-color: $accent;
	color: white;
	border: none;
}

// TYPOGRAPHY

	// HEADINGS
h1 {
	margin-top: 0;
	font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.2rem;}

h4 {
	font-size: 1.777rem;
	font-weight: 600;
}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

.section_subtitle {
	width: 36.5%;
	font-weight: 600;
	font-size: 0.90rem;
	color: #212121;
}

// links

a {
	color: $accent;
	font-weight: 500;
}

@mixin bottom_shadow {
	box-shadow: 0 2px 3px rgba($color: $accent-dark, $alpha: .3);
}

@mixin content {
	max-width: 1240px;
	display: flex;
	justify-content: space-between;
}

