// transitions to the redeem reward carousel

.carousel-fade-enter-active,
.carousel-fade-leave-active {
	transition: opacity .25s;
}
.carousel-fade-enter,
.carousel-fade-leave-to {
	opacity: 0;
}

////////////////////////////////


@keyframes denied {
	0% {
		background-color: transparent;
	}
	65% {
		background-color: rgba($color: $denied, $alpha: .3);
	}
	100% {
		background-color: transparent;
	}
}

@keyframes success {
	0% {
		background-color: transparent;
	}
	65% {
		background-color: rgba($color: $accent, $alpha: .3);
	}
	100% {
		background-color: transparent;
	}
}

@keyframes action_msg {
	0% {
		left: 2.5%;
		font-size: 1.3rem;
	}
	70% {
		left: 2.5%;
		font-size: 1rem;
	}
	100% {
		top: -22%;
		left: 2.5%;
		font-size: 1rem;
	}
}

@mixin circleAnimation {
	transition: .15s linear;
	cursor: pointer;
	$size: 33px;
	width: $size;
	height: $size;
	border-radius: 50%;
	&:hover {
		background-color: $fifth-color;
		box-shadow: 0 0 0 $sp-1 $fifth-color;
	}
}
